<div>
    <a name="" id="" class="btn btn-primary" href="javascript:void(0)" role="button" (click)="notfound()">NotFound</a>
    <a name="" id="" class="btn btn-primary" href="javascript:void(0)" role="button" (click)="badRequest()">BadRequest</a>
    <a name="" id="" class="btn btn-primary" href="javascript:void(0)" role="button" (click)="serverError()">ServerError</a>
    <a name="" id="" class="btn btn-primary" href="javascript:void(0)" role="button" (click)="authenation()">Authencation</a>
</div>

