<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <label for="inputUserName" class="col-sm-2 col-form-label">UserName</label>
            <div class="col-sm-10">
              <input name="userName" [formControl]="userName" type="text" class="form-control" id="inputUserName" >
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input name="passWord" type="password" class="form-control" id="inputPassword" [formControl]="passWord">
            </div>
            <div class="col-sm-10 mt-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-outline-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
